<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <title>Sportmaatje</title>
    
    <!-- css inladen -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- javascript inladen-->
    <script src="script/script.js"></script>
    <script src="script/frontend.js"></script>

</head>
<body>
    <header>
        <nav>
                
                <li class="logo">
                    <a href="inloggen"><img src="images/logo.png" alt="logo"></a>
                </li>
            <ul>
                
                <li><a href="about">About</a>
                <li><a href="inloggen">Inloggen</a>
                <button class="signinButton"><a href="signup">Sign up</a></button>
            </ul>
        </nav>
    </header>
    <!--<h1>Welkom bij</h1>-->

    {{{body}}}

</body>
</html>