<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <title>Sportmaatje</title>
    
    <!-- css inladen -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- javascript inladen-->
    <script src="script/script.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a>
                <li><a href=" ">about</a>
                <li><a href=" ">inloggen</a>
                <li><a href=" ">sign up</a>
            </ul>
        </nav>
    </header>
    <h1>Main Layout Here</h1>

    {{{body}}}

</body>
</html>