<!--<h1>Dit is de home!!!</h1>-->

<section class="homeInlog">
    
    <form id="loginForm">
                <label>Username</label>
                <input name="email" type="email" placeholder="Email" required="required">

                <label>Password</label>
                <input name="password" type="password" placeholder="Wachtwoord" required="required">

                <button class="signinButton" type="submit">Login</button>
    </form>      
</section>

<div class="homeInlog">
    <h3>Nog geen account? <a id="meldAan" href="signup">Meld je nu aan</a></h3>
</div>
