<h1>Dit is de home!!!</h1>

<div class="homeInlog">
    
    <form>
                <label>Username</label><br>
                <input type="email" placeholder="Email"><br>

                <label>Password</label><br>
                <input type="password" placeholder="Wachtwoord"><br>

                <button type="submit">Login</button><br>
            
                <label>
                <input type="checkbox" checked="checked"> Remember me
                </label>
    </form>      
          

</div>