<section class="homeInlog">
    
    <form method="POST" action="/inloggen" id="loginForm">
        <h3>Maak een account aan</h3>
                <label>Gebruikersnaaam</label><br>
                <input name="name" type="text" placeholder="Email">

                <label>Email</label><br>
                <input name="email" type="email" placeholder="Email">

                <label>Wachtwoord</label><br>
                <input name="password" type="password" placeholder="Wachtwoord">

                <button type="submit">Sign up</button>
            
    </form>      
</section>