<section class="homeInlog">
    
    <form id="loginForm">
                <label>Username</label><br>
                <input type="email" placeholder="Email">

                <label>Username</label><br>
                <input type="email" placeholder="Email">

                <label>Password</label><br>
                <input type="password" placeholder="Wachtwoord">

                <button type="submit">Sign up</button>
            
                <label>
                <input type="checkbox" checked="checked"> Remember me
                </label>
    </form>      
</section>