* {
    background-color: #8DCFCB;
    color: white;

}


header li {
    font-size: 1.2em;
    color:tomato;
    text-decoration: none;
}

.homeInlog {
    display: flex;
    justify-content: center;
}

.homeInlog > form{
    background-color: saddlebrown;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 2em;
    
    