 /* Google font inladen */
 @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');
 
 /* background styling */
 body{
    background-color: #8DCFCB;
    color: #F4FFFE;
 }

/* Alles in dit specifieke ingeladen font  */

* {
    font-family: 'Fredoka';
}

 /* Alles om de navigatie op zijn plaatst te zetten en te laten werken */

 header nav ul{
    background-color: none;  
    display: flex; 
    padding: 3em;
    justify-content: flex-end;
}
 
header li {
    list-style-type: none;
}

header li a {
    font-size: 1.2em;
    color: #F4FFFE;
    text-decoration: none;
    padding: 2em;
    font-weight: 300;
}

header li a:hover {
    color:#ff6347;
}

button {
    background-color: tomato;
    border: none;
    border-radius: 1em;
}
.signinButton {
    padding: 1em;
    color: #F4FFFE;
}

.signinButton :hover {
    background-color:#F4FFFE;;
}

 /* Alles om het logo op zijn plaatst te zetten en te laten werken */

header .logo {
    justify-content: flex-start;
    float: left;
}

header .logo img {
    max-width: 15em;
    margin-top: 2.5em;
}




 /* Inlog form */


.homeInlog {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.homeInlog > form{
    background-color:#022756;
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 2em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1em;
  }

  #meldAan {
      color:tomato;
      text-decoration: none;
  }
    
.profiel {
    display: flex;
    justify-content:flex-end;
    justify-content: center;
    background-color:#022756;
    border-radius: 2em;
}



/* ////////////////////////////// */
/* Nieuwe css herkansing Sanne */

article {
    text-align: center;
    background-color: var(--light-text);
    border-radius: 2em;
    padding: 1em;
    margin: 1em 20em;
 }

.resultKnop {
    display: flex;
    justify-content: center;
 }
 
 .titleSchool {
    color: var(--dark-color-a);
 }
 
 .linkText {
    text-decoration: none;
    color: var(--dark-color-a);
    
 }
 
 .schoolCursus {
    background-color: var(--accent-color);
    border: none;
    border-radius: 1em;
    padding: 1em;
    color: #F4FFFE;
    align-content: center;
 }
 
 .schoolCursus :hover {
    color:var(--dark-color-a);
    border-color:var(--dark-color-a);
 }
 
 .text {
    color: var(--dark-color-a);
 }
 
 #emailQuestionForm input{
    border: 10px solid #f0f0f0;
    border-radius: 2em;
 }
 
 #emailQuestionForm input:focus{
    outline: 0;
 }
 
 #emailQuestionForm .success input {
    border-color: #09c372;
 }
 
 #emailQuestionForm .error input {
    border-color: #ff3860;
 }
 
 #emailQuestionForm .errorMessage {
    font-size: 1rem;
    color: red;
    border-color: #ff3860;
    font-size: 2em;
    /* height: 4em; */
 }
 
 .successMessage {
    display: none;
 }
 
 .successMessage.visible{
    display: block;
    color: black;
    font-size: 1.2rem;
 }
 
 .hidden {
    display: none;
 }
 
 .visible {
    display: block;
 }
 
 .signinButton.hidden {
    display: none;
 }

 #titelKleur {
     color: tomato; 
 }

fieldset {
    border: none;
}

.profielNaam {
    display: flex;
    justify-content: flex-start;
    background-color: #022756;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 1em;

}

.overSportpartner {
    display: flex;
    justify-content: flex-start;
    background-color: #f0f0f0;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 1em;
    margin-top: 3em;
    padding: 2em;

}

#titelOverSportpartner{
    color: tomato; ;
}

#aboutText {
    color: #022756;
}